<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgErrores"></p:growl>
            <p:panel header = "#{bundle.titulo} #{beanJardinInfantil.listaSE.contarNodo()}" id="pnlInfante">
                <p:link value="#{bundle.btnRegresar}" href="../index.xhtml"/>
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                        <p:inputText id="hitNombre" 
                                     value="#{beanJardinInfantil.infanteMostrar.dato.nombre}" 
                                     disabled="#{beanJardinInfantil.deshabilitarNuevo}" required="true"/>
                        <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="7" 
                                   value="#{beanJardinInfantil.infanteMostrar.dato.edad}" 
                                   disabled="#{beanJardinInfantil.deshabilitarNuevo}" />
                        <p:outputLabel value="#{bundle.genero}" for="somGenero" />
                        <p:selectOneMenu id="somGenero" required="true" value="#{beanJardinInfantil.infanteMostrar.dato.genero}" disabled="#{beanJardinInfantil.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="Seleccione...." itemEscaped="true"/>
                            <f:selectItem itemValue="M" itemLabel="Masculino"/>
                            <f:selectItem itemValue="F" itemLabel="Femenino" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.posicion}" for="hitPosicion"/>
                        <p:inputText id="hitPosicion"
                                     value="#{beanJardinInfantil.posicion}"
                                     />
                    </p:panelGrid>
                    <p:dataTable id="tblInfantes" value="#{beanJardinInfantil.listaSE.listarNodoInfante()}"
                                 var="fila" rendered="#{beanJardinInfantil.verTabla}">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.edad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Género"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.genero}"/>
                        </p:column>
                    </p:dataTable>
                    <h:panelGroup layout="block">
                        <p:commandButton value="#{bundle.btnPrimero}"
                                         ajax="false"
                                         action="#{beanJardinInfantil.irAlPrimero()}" 
                                         update="@all"
                                         rendered="#{beanJardinInfantil.habilitarBtnPrimero()}"/>
                        <p:commandButton value="#{bundle.btnSiguiente}"
                                         ajax="false"
                                         action="#{beanJardinInfantil.irAlSiguiente()}" 
                                         update="@all"
                                         rendered="#{beanJardinInfantil.habilitarBtnUltimo()}"
                                         />
                        <p:commandButton value="#{bundle.btnUltimo}"
                                         action="#{beanJardinInfantil.irAlUltimo()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanJardinInfantil.habilitarBtnUltimo()}"
                                         />
                        <p:commandButton value="#{bundle.btnNuevo}" 
                                         action="#{beanJardinInfantil.habilitarCrearInfante()}"
                                         update="pnlInfante"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         />
                        <p:commandButton value="#{bundle.btnGuardar}" update="@all" ajax="false" 
                                         action="#{beanJardinInfantil.guardarInfante()}"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnGuardarInicio}" 
                                         action="#{beanJardinInfantil.guardarInfanteAlInicio()}" 
                                         update="@all"
                                         ajax="false"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnInvertir}" 
                                         ajax="false" 
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo and 
                                                  beanJardinInfantil.listaSE.cabeza != null }"
                                         action="#{beanJardinInfantil.invertirLista()}"
                                         update="pnlInfante"/>
                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         action="#{beanJardinInfantil.cancelarGuardado()}"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"
                                         immediate="true" 
                                         update="@all"
                                         ajax="false"
                                         />
                        <p:commandButton value="#{bundle.verTabla}" 
                                         action="#{beanJardinInfantil.visualizarTabla()}"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}" 
                                         update="pnlInfante"/>
                        <p:commandButton value="#{bundle.btnEliminar}" 
                                         action="#{beanJardinInfantil.eliminarInfante()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnEliminarPosicion}" 
                                         action="#{beanJardinInfantil.eliminarInfantePosicion()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"/>
                    </h:panelGroup>
                </center>
                <p:diagram value="#{beanJardinInfantil.model}" style="height:700px" styleClass="ui-widget-content" />
            </p:panel>
        </h:form>
    </h:body>
</html>
















