<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgErrores"></p:growl>
            <p:panel header = "#{bundle.titulo} #{beanListaDECircular.listaDECircular.contarNodoDECircular()}" id="pnlInfante">
                <p:link value="#{bundle.btnRegresar}" href="../index.xhtml"/>
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                        <p:inputText id="hitNombre" 
                                     value="#{beanListaDECircular.infanteMostrar.dato.nombre}" 
                                     disabled="#{beanListaDECircular.deshabilitarNuevo}" required="true"/>
                        <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="7" 
                                   value="#{beanListaDECircular.infanteMostrar.dato.edad}" 
                                   disabled="#{beanListaDECircular.deshabilitarNuevo}" />
                        <p:outputLabel value="#{bundle.genero}" for="somGenero" />
                        <p:selectOneMenu id="somGenero" required="true" value="#{beanListaDECircular.infanteMostrar.dato.genero}"
                                         disabled="#{beanListaDECircular.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="Seleccione...." itemEscaped="true"/>
                            <f:selectItem itemValue="M" itemLabel="Masculino"/>
                            <f:selectItem itemValue="F" itemLabel="Femenino" />
                        </p:selectOneMenu>
                    </p:panelGrid>
              
                    <h:panelGroup layout="block">
                        <p:commandButton value="#{bundle.btnPrimero}"
                                         ajax="false"
                                         action="#{beanListaDECircular.irAlPrimero()}" update="@all" />
                        <p:commandButton value="#{bundle.btnAnterior}"
                                         action="#{beanListaDECircular.irAlAnterior()}"
                                         ajax="false" 
                                         update="@all" />
                        <p:commandButton value="#{bundle.btnSiguiente}"
                                         ajax="false"
                                         action="#{beanListaDECircular.irAlSiguiente()}" 
                                         update="@all" />
                        <p:commandButton value="#{bundle.btnUltimo}" 
                                         ajax="false"
                                         action="#{beanListaDECircular.irAlUltimo()}"
                                         update="@all"/>
                        <p:commandButton value="#{bundle.btnNuevo}" 
                                         action="#{beanListaDECircular.habilitarCrearInfante()}"
                                         update="pnlInfante"
                                         rendered="#{beanListaDECircular.deshabilitarNuevo}"
                                         />
                        <p:commandButton value="#{bundle.btnGuardar}" update="@all" ajax="false" 
                                         action="#{beanListaDECircular.guardarInfante(false)}"
                                         rendered="#{!beanListaDECircular.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnGuardarInicio}" 
                                         action="#{beanListaDECircular.guardarInfante(true)}" 
                                         update="@all"
                                         ajax="false"
                                         rendered="#{!beanListaDECircular.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         action="#{beanListaDECircular.cancelarGuardado()}"
                                         rendered="#{!beanListaDECircular.deshabilitarNuevo}"
                                         immediate="true" 
                                         update="@all"
                                         ajax="false"
                                         />
                        <p:commandButton value="#{bundle.btnEliminar}" 
                                         action="#{beanListaDECircular.eliminarInfante()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanListaDECircular.deshabilitarNuevo}"/>
                    </h:panelGroup>
                </center>
                <p:diagram value="#{beanListaDECircular.model}" style="height:700px" styleClass="ui-widget-content" />
            </p:panel>
        </h:form>
    </h:body>
</html>

