<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgErrores"></p:growl>
            <p:panel header = "#{bundle.titulo} #{beanListaDE.listaDE.contarNodoDE()}" id="pnlInfante">
                <p:link value="#{bundle.btnRegresar}" href="../index.xhtml"/>
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                        <p:inputText id="hitNombre" 
                                     value="#{beanListaDE.infanteMostrar.dato.nombre}" 
                                     disabled="#{beanListaDE.deshabilitarNuevo}" required="true"/>
                        <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="7" 
                                   value="#{beanListaDE.infanteMostrar.dato.edad}" 
                                   disabled="#{beanListaDE.deshabilitarNuevo}" />
                        <p:outputLabel value="#{bundle.genero}" for="somGenero" />
                        <p:selectOneMenu id="somGenero" required="true" value="#{beanListaDE.infanteMostrar.dato.genero}" disabled="#{beanListaDE.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="Seleccione...." itemEscaped="true"/>
                            <f:selectItem itemValue="M" itemLabel="Masculino"/>
                            <f:selectItem itemValue="F" itemLabel="Femenino" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.posicion}" for="hitPosicion"/>
                        <p:inputText id="hitPosicion"
                                     value="#{beanListaDE.posicion}"
                                     />
                    </p:panelGrid>
                    <p:dataTable id="tblInfantes" value="#{beanListaDE.listaDE.listarNodoDEInfante()}"
                                 var="fila" rendered="#{beanListaDE.verTabla}">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.edad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Género"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.genero}"/>
                        </p:column>
                    </p:dataTable>
                    <h:panelGroup layout="block">
                        <p:commandButton value="#{bundle.btnPrimero}"
                                         ajax="false"
                                         action="#{beanListaDE.irAlPrimero()}" 
                                         update="@all"
                                         rendered="#{beanListaDE.habilitarBtnPrimero()}"/>
                        <p:commandButton value="#{bundle.btnAnterior}"
                                         action="#{beanListaDE.irAlAnterior()}"
                                         ajax="false"
                                         rendered="#{beanListaDE.habilitarBtnPrimero()}"
                                         update="@all" />
                        <p:commandButton value="#{bundle.btnSiguiente}"
                                         ajax="false"
                                         action="#{beanListaDE.irAlSiguiente()}" 
                                         update="@all"
                                         rendered="#{beanListaDE.habilitarBtnUltimo()}"/>
                        <p:commandButton value="#{bundle.btnUltimo}" 
                                         ajax="false"
                                         action="#{beanListaDE.irAlUltimo()}"
                                         update="@all"
                                         rendered="#{beanListaDE.habilitarBtnUltimo()}"/>
                        <p:commandButton value="#{bundle.btnNuevo}" 
                                         action="#{beanListaDE.habilitarCrearInfante()}"
                                         update="pnlInfante"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         />
                        <p:commandButton value="#{bundle.btnGuardar}" update="@all" ajax="false" 
                                         action="#{beanListaDE.guardarInfante()}"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnGuardarInicio}" 
                                         action="#{beanListaDE.guardarInfanteAlInicio()}" 
                                         update="@all"
                                         ajax="false"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnInvertir}" 
                                         ajax="false" 
                                         rendered="#{beanListaDE.deshabilitarNuevo and 
                                                  beanListaDE.listaDE.cabeza != null }"
                                         action="#{beanListaDE.invertirLista()}"
                                         update="pnlInfante"/>
                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         action="#{beanListaDE.cancelarGuardado()}"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"
                                         immediate="true" 
                                         update="@all"
                                         ajax="false"
                                         />
                        <p:commandButton value="#{bundle.verTabla}" 
                                         action="#{beanListaDE.visualizarTabla()}"
                                         rendered="#{beanListaDE.deshabilitarNuevo}" 
                                         update="pnlInfante" />
                        <p:commandButton value="#{bundle.btnEliminar}" 
                                         action="#{beanListaDE.eliminarInfante()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnEliminarPosicion}" 
                                         action="#{beanListaDE.eliminarInfantePosicion()}"
                                         ajax="false"
                                         update="@all"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"/>
                    </h:panelGroup>
                </center>
                <p:diagram value="#{beanListaDE.model}" style="height:700px" styleClass="ui-widget-content" />
            </p:panel>
        </h:form>
    </h:body>
</html>

