<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.titulo}</title>
    </h:head>
    <h:body>
        <p:growl id="pnlErrorLogin"/>
        <h:form>
            <p:outputLabel value="Usuario" />
            <p:inputText value="#{beanLogin.usuario}" required="true" />
            <p:commandButton value="#{bundle.btnIrListaSE}" action="#{beanLogin.ingresarSE()}"
                             update="pnlErrorLogin,@this"/>
            <p:commandButton value="#{bundle.btnIrListaDE}" action="#{beanLogin.ingresarDE()}"
                             update="pnlErrorLogin,@this"/>
            <p:commandButton value="#{bundle.btnIrListaDECircular}" action="#{beanLogin.ingresarDECircular()}"
                             update="pnlErrorLogin,@this"/>
        </h:form>
    </h:body>
</html>

